* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
    margin: 0;
  background: 
  linear-gradient(
    to bottom,
    rgba(0,0,0,0.40) 0%,
    rgba(0,0,0,0.20) 5%,
    rgba(0,0,0,0.10) 10%,
    rgba(0,0,0,0.05) 18%,
    rgba(0,0,0,0) 30%,
    rgba(0,0,0,0) 70%,
    rgba(0,0,0,0.05) 82%,
    rgba(0,0,0,0.10) 90%,
    rgba(0,0,0,0.20) 95%,
    rgba(0,0,0,0.40) 100%
  ),
  white;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  position: relative; 
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;

  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(2px 2px 4px rgba(0,0,0,5));
}



.top-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
    display: block;
}

.bottom-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
    display: block;
}